# Dependencias de Node
node_modules/

# Archivos de log
npm-debug.log
.DS_Store

# Carpeta build/ global de Svelte
build/
dist/

# No ignoramos public/build/ porque quieres subir el compilado

# Variables de entorno
.env
